body{
background-color:cyan;
/*background-image:url(../image/bdx.jpg);*/


}


.centrage{
margin:auto;
text-align:center;
}


.couleur{
color:green;
font-weight:300;
}

#color{
background-color:yellow;

}

img{
width:50%;	
}

